BasedOnStyle: LLVM

AlignAfterOpenBracket:       BlockIndent
AlignArrayOfStructures:      Left
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields:   Consecutive
AlignConsecutiveMacros:      Consecutive
AlignOperands:               DontAlign

AllowShortBlocksOnASingleLine:              Always
AllowShortCaseLabelsOnASingleLine:          false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine:               true
AllowShortFunctionsOnASingleLine:           All
AllowShortIfStatementsOnASingleLine:        Never
AllowShortLambdasOnASingleLine:             All
AllowShortLoopsOnASingleLine:               false

BinPackArguments:  true
BinPackParameters: false

BitFieldColonSpacing: Both

BreakArrays:                    false
BreakBeforeBinaryOperators:     None
BreakBeforeConceptDeclarations: Allowed
BreakBeforeInlineASMColon:      OnlyMultiline
BreakBeforeTernaryOperators:    true
BreakConstructorInitializers:   BeforeColon
BreakInheritanceList:           BeforeColon
BreakTemplateDeclarations:      Yes

ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth:           2
PPIndentWidth:                     2
IndentPPDirectives:                AfterHash

Cpp11BracedListStyle: true

DerivePointerAlignment: true

EmptyLineBeforeAccessModifier: Leave

IncludeBlocks: Preserve

IndentAccessModifiers:         false
IndentCaseBlocks:              false
IndentCaseLabels:              false
IndentGotoLabels:              false
IndentRequiresClause:          true
LambdaBodyIndentation:         Signature
NamespaceIndentation:          All
RequiresExpressionIndentation: Keyword

InsertBraces:         true

MaxEmptyLinesToKeep: 1

PointerAlignment:   Right
QualifierAlignment: Leave

RemoveBracesLLVM:                 false
RemoveParentheses:                Leave
RemoveSemicolon:                  true
SeparateDefinitionBlocks:         Leave
SortIncludes:                     CaseSensitive
SortUsingDeclarations:            Never

SpaceAfterCStyleCast:              false
SpaceAfterLogicalNot:              false
SpaceAfterTemplateKeyword:         false
SpaceAroundPointerQualifiers:      Default
SpaceBeforeAssignmentOperators:    true
SpaceBeforeCaseColon:              false
SpaceBeforeCpp11BracedList:        false
SpaceBeforeCtorInitializerColon:   true
SpaceBeforeInheritanceColon:       true
SpaceBeforeJsonColon:              false
SpaceBeforeParens:                 ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets:         false
SpaceInEmptyBlock:                 false
SpacesInAngles:                    Never
SpacesInContainerLiterals:         false
SpacesInLineCommentPrefix:
    Minimum: 1
    Maximum: -1
SpacesInParens:                    Never
