.cache/
*.elf
*.bin
*.hex
*.map
*.d
*.o
*.a
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.vscode/
.idea/
*.swp
*~

# Examples build outputs
!build/*/*/akos.bin
!build/*/*/akos.elf
!build/*/*/akos.hex
